main {
  height: calc(100vh - 75px);
  background: linear-gradient(180deg, #a0c7e4 0%, #ffffff 100%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
}

.search-container {
  text-align: center;
}

.search-container h1 {
  font-size: 40px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 60px;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: #e8e8e8;
  border-radius: 5px;
  padding: 10px 20px;
  width: 855px;
}

.search-box svg {
  margin-right: 10px;
}

.search-box input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 20px;
  flex-grow: 1;
}

.search-box a.search-button {
  background-color: #333333;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}
.search-box a.search-button:hover {
  background-color: #555555;
}
